<div class="row">
  <div
    class="col-lg-4 col-md-6 mb-4"
    *ngFor="let product of productList | filter: searchText:'name'"
  >
    <div class="card h-100">
      <a routerLink="view-product/{{ product.id }}"
        ><img
          class="card-img-top"
          src="../../../assets/img/{{ product.productImg }}"
          alt=""
      /></a>
      <div class="card-body">
        <h4 class="card-title">
          <a routerLink="view-product/{{ product.id }}">{{ product.name }}</a>
        </h4>
        <h5>$ {{ product.price }}</h5>
        <p class="card-text">
          {{ product.description }}
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">&#9733;&#9733;&#9733;&#9733;&#9734;</small>
      </div>
      <a class="btn btn-info" (click)="addtoCart(product.id)">Add to Cart</a>
    </div>
  </div>
</div>

<!--  -->
